*
!README.md
!LICENSE
!.gitignore
!.gitmodules
!.xinitrc
!.zprofile
!.profile
!.bashrc
!.zshrc
!.vimrc
!.config
!.config/starship.toml
!.config/i3/
!.config/i3/config
!.config/i3status/
!.config/i3status/config
!.config/i3status/net-speed.sh
!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/bundle/
!.config/nvim/bundle/Vundle.vim
!.config/coc/
!.config/coc/extensions/
!.config/coc/extensions/package.json
!.config/termite/
!.config/termite/config
!.config/ranger/
!.config/ranger/rc.conf
!.oh-my-zsh
