[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/rbm47/ohmyzsh.git

[submodule ".config/nvim/bundle/Vundle.vim"]
	path = .config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
