[submodule ".powerlevel10k"]
	path = .powerlevel10k
	url = https://github.com/romkatv/powerlevel10k

[submodule ".config/nvim/bundle/Vundle.vim"]
	path = .config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
